@font-face {
  font-family: 'R95 Sans Serif 12pt';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    url("../../sources/sans-serif/96dpi/12pt/R95-sans-serif-vga-12pt.woff2") format("woff2"),
    url("../../sources/sans-serif/96dpi/12pt/R95-sans-serif-vga-12pt.ttf") format("truetype");
}

