@font-face {
  font-family: 'R95 Sans Serif 8pt';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    url("./sources/8pt/MS Serif_8.woff2") format("woff2"),
    url("./sources/8pt/MS Serif_8.ttf") format("truetype");
}

@font-face {
  font-family: 'R95 Sans Serif 10pt';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    url("./sources/10pt/MS Serif_10.woff2") format("woff2"),
    url("./sources/10pt/MS Serif_10.ttf") format("truetype");
}

@font-face {
  font-family: 'R95 Sans Serif 12pt';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    url("./sources/12pt/MS Serif_12.woff2") format("woff2"),
    url("./sources/12pt/MS Serif_12.ttf") format("truetype");
}

@font-face {
  font-family: 'R95 Sans Serif 14pt';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    url("./sources/14pt/MS Serif_14.woff2") format("woff2"),
    url("./sources/14pt/MS Serif_14.ttf") format("truetype");
}

@font-face {
  font-family: 'R95 Sans Serif 18pt';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    url("./sources/18pt/MS Serif_18.woff2") format("woff2"),
    url("./sources/18pt/MS Serif_18.ttf") format("truetype");
}

@font-face {
  font-family: 'R95 Sans Serif 24pt';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    url("./sources/24pt/MS Serif_24.woff2") format("woff2"),
    url("./sources/24pt/MS Serif_24.ttf") format("truetype");
}
