@font-face {
  font-family: 'R95 Sans Serif 8pt';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    url("./sources/sans-serif/96dpi/8pt/R95-sans-serif-vga-8pt.woff2") format("woff2"),
    url("./sources/sans-serif/96dpi/8pt/R95-sans-serif-vga-8pt.ttf") format("truetype");
}

