@font-face {
  font-family: 'R95 Sans Serif 10pt';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    url("./sources/sans-serif/96dpi/10pt/R95-sans-serif-vga-10pt.woff2") format("woff2"),
    url("./sources/sans-serif/96dpi/10pt/R95-sans-serif-vga-10pt.ttf") format("truetype");
}

