@font-face {
  font-family: 'R95 Serif 8pt';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    url("./sources/serif/96dpi/8pt/R95-serif-vga-8pt.woff2") format("woff2"),
    url("./sources/serif/96dpi/8pt/R95-serif-vga-8pt.ttf") format("truetype");
}

