@font-face {
  font-family: 'R95 Serif HiRes 12pt';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    url("./sources/serif/120dpi/12pt/R95-serif-hires-12pt.woff2") format("woff2"),
    url("./sources/serif/120dpi/12pt/R95-serif-hires-12pt.ttf") format("truetype");
}

