@font-face {
  font-family: 'R95 Serif HiRes 24pt';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    url("./sources/serif/120dpi/24pt/R95-serif-hires-24pt.woff2") format("woff2"),
    url("./sources/serif/120dpi/24pt/R95-serif-hires-24pt.ttf") format("truetype");
}

